.b380 {
  --theme-dark: #35393c;
  --theme-med1: #0a70b0;
  --theme-med2: #536069;
}

.psych111 {
  --theme-dark: #25130e;
  --theme-med1: #ae0d0d;
  --theme-med2: #725c5c;
}

.fhgen130 {
  --theme-dark: #45361f;
  --theme-med1: #926011;
  --theme-med2: #b6410d;
}

.cs246 {
  --theme-dark: #494d4f;
  --theme-med1: #0873a1;
  --theme-med2: #57666d;
}
